{% extends 'master.html' %}
{% block title  %}Booked event{% endblock %}
{% block body %}
<div class='container'>
<div class='row'>
<div class='col-md-6 col-sm-4 col-lg-12 mx-auto'>
<table class='table table-hover'>
    <thead>
        <tr>
            <th>User Name</th>
            <th>Date</th>
            <th>Time</th>
            <th>Contact details</th>
        </tr>
    </thead>
    <tbody>
        {% for x in data%}
        <tr>
            <td>{{x.name}}</td>
            <td>{{x.date}}</td>
            <td>{{x.time}}</td>
            <td>{{x.mobile}}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
<a href='adminhome'>  <button type="button" class="btn btn-primary mt-4" name='Back' >Back</button>
</a>
</div>
</div>
</div>
{% endblock  %}