{% extends 'master.html' %}
{% block title  %}User Registration{% endblock %}
{% block body %}
<div class='container'>
<div class='row'>
<div class='col-md-6 col-sm-4 col-lg-12 mx-auto'>
<form method='POST' action='user_reg_data'>
    {% csrf_token %}
    {{status}}
    <div class="form-group" >
      <label for='uname'>UserName</label>
      <input type="text" class="form-control" id="uname"  placeholder="Eg. Mihir" name='name' required>
    </div>
      <div class="form-group">
      <label for="exampleInputEmail1">Email address</label>
      <input type="email" class="form-control" id="email"  placeholder="Eg. abc@gmail.com" name='email' required>
    </div>
    <div class="form-check">
        <input type="radio" class="form-check-input" value='male' name='gender'>
        <label class="form-check-label" >Male</label>
      </div>
    <div class="form-check">
        <input type="radio" class="form-check-input" value='female' name='gender'>
        <label class="form-check-label" >Female</label>
    </div>
    <div class="form-group">
        <label >Contact Number:</label>
        <input type="text" class="form-control"  name='contact' >
    </div>
    <div class="form-group">
      <label for="exampleInputPassword1">Password</label>
      <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password" name='password' required>
    </div>
    

    <button type="submit" class="btn btn-primary" name='sub'>Submit</button><br><br>
    <h6>Registerd already?</h6>
    <a href='user_login'>click here to Login</a>
  </form>
</div>
</div>
</div>
{% endblock  %}